*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties



/app/src/main/java/barmagah/tms/admin/care/Constants.kt
/app/src/main/java/barmagah/tms/admin/care/InputValidator.kt

/app/src/main/java/barmagah/tms/admin/presentation
/app/src/main/res/values
/app/src/main/res/values-ar
/app/src/main/res/layout